<h1>Showing Aritcle Details</h1>
<h3><%= @article.title %></h3>
<h3><%= @article.description %></h3>
<h3><%= @article.user.username %></h3>


    <%= link_to 'Back', articles_path %>
    <% if logged_in? && (@article.user == current_user || current_user.admin?) %>
     |
        <%= link_to 'Edit', edit_article_path(@article) %> |
        <%= link_to 'Delete article', article_path(@article), data: { "turbo-method": :delete, "turbo_confirm": "Are you sure?" } %>
    <% end %>